<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BDD_CUCUMBER_PRACTICE"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="com.pageActions.AutomationPracticePageActions"/>
<listEntry value="com.runner.RunCuke"/>
<listEntry value="com.stepDefinations.AutomationPracticeDDT"/>
<listEntry value="com.pageLocators.AutomationPracticeHomePageLocators"/>
<listEntry value="com.stepDefinations.BeforeActions"/>
<listEntry value="com.Utilities.SeleniumDriver"/>
<listEntry value="com.Pages.LoginPage"/>
<listEntry value="com.Utilities.ReadConfig"/>
<listEntry value="com.stepDefinations.AutomationPracticeStepDefinations"/>
<listEntry value="com.stepDefinations.AfterActions"/>
<listEntry value="com.Utilities.BaseUtilities"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
